page-solicitud-vc {
        background-color: $osde_white;

        .scroll-content {
          padding-right: 26px !important;
          padding-left: 26px !important;
        }

        .vc {
          margin: auto;
          max-width: 400px;
        }

        .form {
          margin-top: 40px;
          ion-icon {
            font-size: 1.6em;
            font-weight: bold;
            color: #008fbb;
          }
          &.border {
            border-left: 3px solid $osde_cyan;
          }
        }

        .continue {
          margin-top: 30px;
        }

        .callDoctor {
          margin-top: 30px;
        }

        .osde-label {
          padding-left: 16px;
          padding-top: 10px;
          font-size: 1.1em;
          font-weight: 600;
          color: $osde_cyan;
        }

        .wrapping-list {
            white-space: pre-line;
        }

        ion-label {
          color: #008fbb;
        }

        .myCustomSelect{
          max-width: 100% !important;
        }

        @media (max-height: 450px) {

          .form {
            margin-top: 0;
          }

        }        
      
      .select-text{
          white-space: inherit !important;
      }
      
      .label-red{
        color: rgb(238, 64, 53) !important;
      }     
      
      
      .item-inner
      {
        padding-right: 0px !important;
        border-top: 0px !important;
        border-left: 0px !important; 
        border-right: 0px !important;
        border-bottom: 0px !important;
      } 

        .p-name{
        margin: 5px 8px 5px 0;
        font-size: 1.5rem;
        color: #000000;
    }
      
}

ion-col{
  position: initial !important;
}

ion-grid{
  padding: 0px !important;
}

ion-list{
  margin: 0 !important;
}

.hideHeader .alert-head{
  display:none !important;
}

.hideHeader .alert-radio-label{
  white-space: inherit !important;
}
.hideHeader .alert-radio-group{
  max-height: 315px !important;
}
