page-solicitud-vc {
  .scroll-content > *:last-of-type  {
    margin-bottom: 10px !important;
  }

  .form-control{
    z-index: 1111111;
  }

  .title {
    text-align: center;
    font-size: $title_size;
  }

  .sub-title {
    text-align: center;
    font-size: $text_extra_big_size;
    margin: 5px;
    font-weight: 200;
  }

  .padding {
    padding: 0px;
  }

  .label-input-number{
    position: relative;
    top: 18px;
  }

  .btn{
    position: relative;
    bottom: -46px;
  }

  ion-item {
    padding-left: 0 !important;
  }

  .container-select {
    margin-bottom: 15px;
    position: relative;

    ion-label {
      color: #9395ad;
      font-size: $text_extra_big_size;
      cursor: text;
      margin: 0;
      padding: 0;
    }

    ion-select {
      max-width: 100%;
      padding-left: 0;
      border-bottom: 2px solid black;
    }
  }

  .col{
    font-size:$text_extra_big_size;
  }

}
