<ion-header [ngClass]="{'transition-focus': addClassTransition}">

  <div class="header-circle-container">
      <div class="div-inner"><div class="login-logo"></div></div>
  </div>

</ion-header>

<ion-content padding  [ngClass]="{'transition-focus': addClassTransition}">

  <div class="login">

    <div class="form">

      <div class="osde-label" *ngIf="newMember">AGREGAR SOCIO</div>

      <div class="form-control">
          <input value="" (keyup)="validationNumber(dni)" onkeyup="this.setAttribute('value', this.value);" type="number" id="input1" (focus)="transitionLogin()" (blur)="transitionBlurLogin()" class="input-text input-user" [(ngModel)]="dni">
          <label class="label-text" for="input1">{{ placeholder }}</label>
          <ion-icon name="ios-person-outline" isActive="false"></ion-icon>
      </div>

    </div>

    <button class="btn btn-white"
      type="button"
      [disabled]="(dni? !(dni.toString().length >= 7) : true)"
      (mousedown)="getDeviceID(dni)">
      {{ button_text }}
    </button>

    <hr class="soft-line soft-line-white">

    <a *ngIf="!newMember" href="tel:{{telefono}}" (click)="nextPhoneNumber()">
      <button class="btn btn-white">
        Solicitar médico
      </button>
    </a>

  </div>

  <div class="login-footer" *ngIf="!newMember">Versión {{version}}</div>

</ion-content>
