<ion-header>
<div class="header-circle-container">
    <div class="div-inner"><div class="login-logo"></div></div>
</div>
</ion-header>

<ion-content padding>

  <div class="login">
    <ion-list class="form">
        <div class="osde-label" *ngIf="newMember">AGREGAR SOCIO</div>       
      <div class="form-control">
          <input value="" onkeyup="this.setAttribute('value', this.value);" type="text" id="input1" class="input-text input-user" [(ngModel)]="dni">
          <label class="label-text" for="input1">{{ placeholder }}</label>
          <ion-icon name="ios-person-outline" isActive="false"></ion-icon>
      </div>       
</ion-list>
    

    <button class="btn btn-white"
      [disabled]="(!dni)"
      (click)="getDeviceID(dni)">
      {{ button_text }}
    </button>

    <hr class="soft-line soft-line-white">

    <a *ngIf="!newMember" href="tel:{{telefono}}" (click)="nextPhoneNumber()">
      <button class="btn btn-white">        
        Solicitar médico
      </button>
    </a>

  </div>
    
  <div class="login-footer" *ngIf="!newMember">{{version}}</div>
  
</ion-content>

