<ion-header>
	<ion-navbar>
	    <ion-title>
	    	URG
	    </ion-title>
	<ion-buttons right>
        <a href="tel:{{telefono}}" (click)="nextPhoneNumber()">
          <button right class="urgIcon">
            <ion-icon name="call"></ion-icon>
          </button>
        </a>
	</ion-buttons>
</ion-navbar>

<ion-toolbar [ngClass]="{'subHidden': !showSubHeader}">
	<ion-title>Detalle de atención</ion-title>
</ion-toolbar>


</ion-header>


<ion-content [ngClass]="{'subHiddenMargin': !showSubHeader}">

	<div class="dataCard datosMain">
    	<div class="info">
    		<div>Nro. de caso: {{visita.idAtencion}}</div>
    		<div>{{visita.fecha}}</div>
		</div>
		<div>
			<div class="doctor-title" *ngIf="visita.prof">{{visita.prof}}</div>
		</div>
		<div>
			<div>{{visita.diagnostico}}</div>
		</div>
			<!--<div *ngIf="visita.domicilio">DOMICILIO DE ATENCIÓN<br>{{visita.domicilio}}</div>-->
	  </div>

	  <div *ngIf="visita.detalles && visita.detalles[0].detalle" class="dataCard datosDetail">
	      <div *ngFor="let detalle of visita.detalles">
	        <ion-row>
	          <ion-col>{{detalle.detalle}}</ion-col>
	        </ion-row>
	        <ion-row>
	          <ion-col></ion-col>
	        </ion-row>
	      </div>
	  </div>

	  <div *ngIf="!visita.detalles[0].detalle" class="dataCard datosDetail noData">
	      <div>
	      	No contamos con más detalles de la atención.
	      </div>
	  </div>

</ion-content>


<page-footer></page-footer>
