page-historial-detalle {


	.dataCard {
		margin: 25px;
		div {
			padding-left: 15px;
			padding-right: 15px;
		}
		& > div:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	.datosMain {
		border-left: 4px solid $osde_cyan;
		margin-bottom: 30px;
		font-size: 16px;
		.doctor-title {
			font-weight: bold;
			color: #00aad2;
		}
	}

	.datosDetail {
		border-left: 4px solid $osde_lightgreen;
	}

	.noData {
		font-size: 16px;
	}

	.info {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 5px;
		font-size: 12px;
	}

	.info div:nth-child(1) {
		flex-basis: 60%;
	}

	.info div:nth-child(2) {
		flex-basis: 40%;
		text-align: right;
	}

	.shadow-block{
		position:relative;
		max-width:95%;
		margin:0 auto;
		margin-top: -50px;
		padding:5px;
	}

	button.urgIcon{
		min-width:44px;
		padding:0 5px;
	}

	.back-button-md{
		margin:0;
	}

	
}
