<ion-header>
	<ion-navbar>
	    <ion-title>
	    	Detalle de Atención
	    </ion-title>
	<ion-buttons right>
        <a href="tel:{{telefono}}" (click)="nextPhoneNumber()">
          <button right class="urgIcon">
            <ion-icon name="call"></ion-icon>
          </button>
        </a>
	</ion-buttons>
</ion-navbar>

</ion-header>


<ion-content [ngClass]="{'subHiddenMargin': !showSubHeader}">

 <div class="header header-rectangular-container header-rectangular-container-small"></div>
 <div class="shadow-block">
		<div class="dataCard datosMain">

				<ion-grid class="info">
					<ion-row>

						<ion-col col-6 class="number">
							<div>Nro. de caso: {{visita.idAtencion}}</div>
						</ion-col>

						<ion-col col-6 class="date">
							<div>{{visita.fecha}}</div>
						</ion-col>

					</ion-row>
				</ion-grid>

				<div>
					<div class="doctor-title" *ngIf="visita.prof">{{visita.prof}}</div>
				</div>

				<div>
					<div>{{visita.diagnostico}}</div>
				</div>
					<!--<div *ngIf="visita.domicilio">DOMICILIO DE ATENCIÓN<br>{{visita.domicilio}}</div>-->
		</div>

		<div *ngIf="visita.detalles && visita.detalles[0].detalle" class="dataCard datosDetail">
				<div *ngFor="let detalle of visita.detalles">
					<ion-row>
						<ion-col>{{detalle.detalle}}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col></ion-col>
					</ion-row>
				</div>
		</div>

		<div *ngIf="!visita.detalles[0].detalle" class="dataCard datosDetail noData">
			<div>
				No contamos con más detalles de la atención.
			</div>
		</div>

	</div>



</ion-content>
