<ion-header class="big">

  <div class="logo"></div>

</ion-header>


<ion-content padding>

	  <ion-list *ngIf=p radio-group [(ngModel)]="p.respuesta">

	    <ion-list-header>{{ p.texto }}</ion-list-header>

	    <ion-item *ngFor="let o of p.opciones; let i = index">
	      <ion-label>{{ o.texto }}</ion-label>
	      <ion-radio [value]="o.valor" (click)="hasChosen = true"></ion-radio>
	    </ion-item>
        
      <div *ngIf=last class="tycs" >
        <ion-checkbox [(ngModel)]="tycs"></ion-checkbox>
        <div class="label" (click)="goToTycs()" >Al registrarme declaro que leí y acepté los <strong>Términos y Condiciones de URG</strong>.</div>
      </div>

	  </ion-list>

    <checker></checker>

    <button *ngIf="show == 'retry'" (click)="retry()"
      ion-button full icon-start class="urg-button-blue" >
      Responder nuevamente
    </button>

    <a *ngIf="show == 'callus'" (click)="getBlockUserPhoneNumber()" href="tel:{{telefono}}" >
      <button ion-button full icon-start class="urg-button-blue" >
        <ion-icon name="call"></ion-icon>
        Llamanos
      </button>
    </a>
</ion-content>

<ion-footer id="homeFooter" bottom>
  <button (click)="nextAnswer()" [disabled]="!hasChosen || (last && !tycs)"
    ion-button full class="urg-button-blue" >
    {{ last ? 'Finalizar' : 'Continuar' }}
  </button>
</ion-footer>
  
