<div class="loadingContainer" *ngIf="!mostrarBtnFinalizar">
    <div class="login-logo"></div>      
    <img class="loading" src="assets/img/loading.gif" alt="loading">  
</div>

<div *ngIf="mostrarBtnFinalizar">
  <div class="header-circle-container" *ngIf=p> 
       <div class="div-inner"><p class="text-01">{{ p.texto }}</p></div> 
  </div>      
</div>

<ion-content padding *ngIf="mostrarBtnFinalizar">   

	   <ion-list *ngIf=p radio-group [(ngModel)]="p.respuesta">

      <ion-item *ngFor="let o of p.opciones; let i = index">
	      <ion-label>{{ o.texto }}</ion-label>
	      <ion-radio [value]="o.valor" (click)="hasChosen = true"></ion-radio>
      </ion-item>
        
      <div *ngIf=last class="tycs" >
        <ion-checkbox [(ngModel)]="tycs"></ion-checkbox>
        <div class="label" (click)="goToTycs()" >Al registrarme declaro que leí y acepté los <br><strong>Términos y Condiciones de URG</strong>.</div>
      </div>
      
      </ion-list>

</ion-content>

<ion-footer id="homeFooter" bottom *ngIf="mostrarBtnFinalizar">
  <hr class="soft-line soft-line-black">
  <button (click)="nextAnswer()" [disabled]="!hasChosen || (last && !tycs)"
    class="btn btn-light" >
    {{ last ? 'Finalizar' : 'Continuar' }}
  </button>
</ion-footer>

<ion-footer *ngIf="!mostrarBtnFinalizar">
    <div class="bg-white">
        <span class="border-rounded"></span>
    </div>
</ion-footer>
  
