page-register {

  .item-md{
    padding-left: 45px !important;
  }

  .labelNewMember {
    font-size: $title_size;
  }

  .scroll-content {
    margin-top: 35vh !important;
    margin-bottom: 14vh !important;
    height: 51vh !important;
    overflow-y: scroll;
  }

  ion-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-list-header {
      padding-left: 0px !important;
      margin-bottom: 0 !important;
      border-bottom: 0 !important;
      border: 0 !important;
      text-align: center;
      ion-label {
        font-size: $text_extra_big_size;
        white-space: normal;
        text-transform: uppercase;
        margin-right: 0px !important;
        margin-left: 0px !important;
      }
    }
    ion-item:last-child {
      border-bottom: 0 !important;
    }
  }

  .item-inner {
    flex-direction: row-reverse;
    border-bottom: 0 !important;
  }

  .img-ok {
    height: 150px;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url('../assets/img/yeah.png') center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .img-error {
    height: 150px;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url('../assets/img/ohno.png') center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .label-ok {
    display: table;
    padding-left: 10px;
    border-left: 4px solid $osde_lightgreen;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: $title_big_size;
    text-align: left;
  }

  .label-error {
    display: table;
    padding-left: 10px;
    border-left: 4px solid $osde_red;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: $title_big_size;
    height: -1px;
  }

  button {
    margin-top: 15px !important;
  }

  .tycs {
    display: flex;
    padding: 10px;
    font-size: $text_regular_size;

    .label {
      color: $osde_cyan;
      font-size: 1.1em;
      margin-left: 10px;

    }
    .checkbox-icon {
      width: 22px !important;
      height: 22px !important;
    }
    .checkbox-inner {
      left: 6px !important;
      height: 15px !important;
      width: 7px !important;
    }
  }

  @media (min-width: 600px){
    .tycs {
      .checkbox-icon {
        width: 40px !important;
        height: 40px !important;
      }
      .label {
        margin-top: 10px;
        font-size: $title_size;
      }
      .checkbox-inner {
        left: 13px !important;
        height: 25px !important;
        width: 10px !important;
      }
    }
  }

  #error-icon {
    font-size: 130px !important;
    color: #e63535 !important;
}

/*Comienzan cambios de look and feel*/
.header-circle-container{
  z-index: 10;
}

.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  display: none;
}

.btn-light{
  max-width: 225px;
}

.text-01{
  text-align: center;
  padding: 0 10%;
  z-index: 44;
  color: white;
  position: absolute;
  font-size: $title_big_size;
  top: 60%;
  width: 100%;
}

.footer-md{
  background-color:$white;
}

.soft-line{
 margin: 0 auto;
}

.bg-white::before{
  background : -moz-linear-gradient(-6.75% 50% 0deg,rgba(34, 58, 133, 1) 0%,rgba(0, 168, 209, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(34, 58, 133, 1) 0%, rgba(0, 168, 209, 1) 100%);
  background : -webkit-gradient(linear,-6.75% 50% ,107.38% 50% ,color-stop(0,rgba(34, 58, 133, 1) ),color-stop(1,rgba(0, 168, 209, 1) ));
  background : -o-linear-gradient(0deg, rgba(34, 58, 133, 1) 0%, rgba(0, 168, 209, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(34, 58, 133, 1) 0%, rgba(0, 168, 209, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#223A85', endColorstr='#00A8D1' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(34, 58, 133, 1) 0%, rgba(0, 168, 209, 1) 100%);
  content:"";
  height:200px;
  width:100%;
  display:block;
  position: absolute;
  bottom:0;
}

.login-logo{
  position: relative;
  height: 70px;
  z-index: 20;
  margin: 0;
  width: 100%;
  display: block;
  background: url(../assets/img/logo.png) center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

/*Terminan cambios look and feel*/
}
