
<ion-navbar hideBackButton>
  <ion-buttons left>
    <!--Menu Haburguesa Visible-->
    <button  *ngIf=!arrowBack left menuToggle="left" class="urgIcon">
      <ion-icon name="menu"></ion-icon>
    </button>

    <!--Flecha de back Visible-->
    <button *ngIf=arrowBack (click)="previusPage()" left class="urgIcon">
      <ion-icon name="arrow-back"></ion-icon> 
    </button>
  </ion-buttons>

  <ion-title [className]="arrowBack ? 'title title-md urg-title' : 'title title-md'">
    URG
  </ion-title>

  <ion-buttons *ngIf=!arrowBack  right>
    <a href="tel:{{telefono}}"  *ngIf="!isSurveyActive" (click)="nextPhoneNumber()">
      <button right class="urgIcon">
        <ion-icon name="call"></ion-icon>
      </button>
    </a>
</ion-buttons>
</ion-navbar>
