page-sa-tiempo {
  .title {
    text-align: center;
    font-size: $title_size;
  }

  .sub-title {
    text-align: center;
    font-size: $text_extra_big_size;
    margin: 5px;
    font-weight: 200;
  }

  .scroll-content > *:last-of-type {
    margin-bottom: 0 !important;
  }

  .btn {
    position: relative;
    bottom: -46px;
  }

  .item-md .radio-md[item-left], .item-md .radio-md[item-start] {
    margin:0;
  }

  .list-md .item-block .item-inner {
    border-bottom: 0px solid $lightgray  !important;
    margin-left: 10px !important;
  }
}
