page-videoconsulta-message {

    .gracias-pop{
        border-top:4px solid#a5d546;
       border-bottom:4px solid #00b7d8;
       background-color:#ffffff;
       -webkit-box-shadow: -1px 3px 28px -2px rgba(0,0,0,0.75);
       -moz-box-shadow: -1px 3px 28px -2px rgba(0,0,0,0.75);
       box-shadow: -1px 3px 28px -2px rgba(0,0,0,0.75);
       height:auto;
       padding:50px 0;
       width:80%;
       margin:0 auto;
       max-width:800px;
       margin-top:15%;
       text-align:center;
   }
   .gracias-pop h1{
       font-size:32px;
   }
   .gracias-pop h2{
       font-size:20px;
   }
   .gracias-pop h3 , .gracias-pop h1{
       color:#003c9d;
       margin:15px 0;
   }
   .gracias-pop img{
       width:165px;
       margin-top:10px;
   }
   .salto{
       display:block;
   }
   
   @media only screen and (max-width: 700px) {
	.gracias-pop h1{
		font-size:25px;
	}
	.gracias-pop h3{
		font-size:16px;
	}
}




}
