<ion-header>
	<page-navigator [title]="title"></page-navigator>
	<div class="header header-rectangular-container header-rectangular-container-small"></div>
</ion-header>


<ion-content padding [ngClass]="{'subHiddenMargin': !showSubHeader}">
	<div *ngFor="let alerta of alertas_home" class="alerta-list">

		<div *ngIf="alerta.step == 5 && alerta.visible" class="alerta-item-1">
			<div>
				<ion-icon (click)="closeAlert(alerta)" name="close" class="alert-exit"></ion-icon>
			</div>
			<div class="imgCall"></div>
			<div class="label">
				{{alerta.estado.label}}
				<button ion-button icon-left class="urg-button-lightgreen-call"
					(click)="initVideoconsulta(alerta.estado.cid, alerta.estado.dni)" [disabled]="isCIDBlocked">
					<ion-icon name="ion-ios-videocam"></ion-icon>
					Ingresar
				</button>
			</div>
		</div>

		<div *ngIf="alerta.step == 4 && alerta.visible" class="alerta-item-poll" id="encuetasItem">

			<div *ngIf="!alerta.poll.thanks" >
				<ion-icon (click)="sayThanks()" name="close" class="poll-exit" ></ion-icon>

				<div class="poll-question">
					{{alerta.poll.question}}
				</div>

				<div *ngFor="let o of poll_options" (click)="rate(o.value)"
					[ngClass]="{'selected': alerta.poll.rate == o.value}"
					class="poll-option {{ o.class }}" >
					<div><div class="poll-option-img"></div></div>
					<div>{{ o.label }}</div>
				</div>

				<textarea class="poll-comment" placeholder="Dejanos tu comentario" [(ngModel)]='alerta.poll.comment'></textarea>

				<button ion-button full class="urg-button-blue" [disabled]="!alerta.poll.rate"
						(click)="sendPoll()">
						Enviar
				</button>

			</div>

			<div *ngIf="alerta.poll.thanks" >
				<div class="logo"></div>
				<div class="poll-msg">
			    	<div *ngIf="answered">¡MUCHAS GRACIAS POR AYUDARNOS A MEJORAR!</div>
			    	<div *ngIf="!answered">¡MUCHAS GRACIAS POR UTILIZAR NUESTROS SERVICIOS!</div>
				</div>
			</div>
		</div>


		<div *ngIf="alerta.step == 3 && alerta.visible" class="alerta-item-visita">

			<ion-icon (click)="closeAlert(alerta)" name="close" class="alert-exit" ></ion-icon>

			<div class="visita-estado" [ngClass]="{'estado-ok': alerta.estado.ok, 'estado-nok': !alerta.estado.ok}">{{alerta.estado.status}}</div>
			<div *ngIf="!alerta.doctor.foto"class="visita-imagen" [ngClass]="{'img-nok': !alerta.estado.ok}"></div>
			<div *ngIf="alerta.doctor.foto">
			<img class="visita-imagen-medico" [src]="alerta.doctor.foto"><img>
			</div>
			<div class="visita-info">
				<div>
					<div class="visita-info-profesional">Médico asignado</div>
					<div class="visita-info-nombre" *ngIf="alerta.doctor.nombre">{{alerta.doctor.nombre}}</div>
					<div class="visita-info-especialidad" *ngIf="alerta.doctor.especialidad">{{alerta.doctor.especialidad}}</div>
					<div class="visita-info-matricula" *ngIf="alerta.doctor.matricula">Matrícula: {{alerta.doctor.matricula}}</div>
				</div>
			</div>
			<div *ngIf="alerta.estado.hora" class="visita-hora">
				<div class="visita-hora-reloj"></div>
				<div class="visita-hora-label">
					<div [ngClass]="{'estado-ok': alerta.estado.ok, 'estado-nok': !alerta.estado.ok}">{{alerta.estado.label}}</div>
				</div>
				<div class="visita-hora-tiempo">
					<div [ngClass]="{'estado-ok': alerta.estado.ok, 'estado-nok': !alerta.estado.ok}">{{alerta.estado.hora}}</div>
				</div>
			</div>
		</div>


		<div *ngIf="alerta.step == 2 && alerta.visible" class="alerta-item-prearribo">
			<div>
				<ion-icon (click)="closeAlert(alerta)" name="close" class="alert-exit"></ion-icon>
			</div>
			<div class="instructions">{{alerta.title}}</div>
			<div>{{alerta.prearribo.condicion}}</div>
			<div *ngFor="let consejo of alerta.prearribo.consejos">{{consejo}}</div>
		</div>


		<div *ngIf="alerta.step == 1 && alerta.visible" class="alerta-item-1">
			<ion-icon (click)="closeAlert(alerta)" name="close" class="alert-exit"></ion-icon>
			<div class="img"><!--<div class="small badge">1</div>--></div>
			<div class="label">
				{{alerta.asignacion}}
			</div>
		</div>

	</div>


	<div *ngIf="showHomeIcon" class="alerta-item-none">
		<div class="img"><!--<div class="badge">0</div>--></div>
		<div class="label">
			No tenés ninguna solicitud pendiente de médico a domicilio
		</div>
	</div>


	<button *ngIf="videoconsulta"  ion-button full icon-start class="urg-button-blue"
		(click)="initVideoconsulta()">
		<ion-icon name="video"></ion-icon>
		Comenzar Videoconsulta
	</button>

</ion-content>

<ion-footer id="homeFooter" *ngIf="showHomeIcon">
	<a (click)="goToSociosPage()">
	  <button ion-button full icon-start class="urg-button-lightgreen">
		<ion-icon name="ios-videocam-outline"></ion-icon>
		Solicitar Video Consulta
	  </button>
	</a>
  </ion-footer>
