<ion-header>
	<page-navigator [title]="title"></page-navigator>
	<!-- <div class="header header-rectangular-container header-rectangular-container-small"></div> -->
</ion-header>

<ion-content [ngClass]="{'subHiddenMargin': !showSubHeader}">

	<div class="header header-rectangular-container header-rectangular-container-small"></div>

	<div *ngFor="let alerta of alertas_home" class="alerta-list ">
		<!-- Alerta 1 - 2 y 5-->
		<div class="box-container-alert"  *ngIf="alerta.step == 1 && alerta.visible || alerta.step == 2 && alerta.visible || alerta.step == 5 && alerta.visible">

			<ion-grid>

				<ion-row *ngIf = "alerta.step == 1 || alerta.step == 5">

					<ion-col col-3>
						<div *ngIf = "alerta.step == 1" class="img-alert">
							<img src="assets/img/logo-urg.png" alt="Logo URG">
						</div>
						<div *ngIf = "alerta.step == 5" class="img-alert">
							<img src="assets/img/videocall.png" alt="Video consulta">
						</div>
					</ion-col>

					<ion-col col-7 class="text">
						<div  *ngIf = "alerta.step == 1">
							<p >{{alerta.asignacion}}</p>
						</div>

						<div *ngIf = "alerta.step == 5">
							<p >{{alerta.estado.label}}</p>
							<button type="button" name="button" class="btn btn-light" (click)="initVideoconsulta(alerta.estado.cid, alerta.estado.dni)" [disabled]="isCIDBlocked">
							Ingresar</button>
						</div>

					</ion-col>

					<ion-col col-2 class="close" (click)="closeAlert(alerta)">
						<div class="line"></div>
						<ion-icon  name="close" ></ion-icon>
					</ion-col>

				</ion-row>

				<ion-row *ngIf = "alerta.step == 2">

					<ion-col col-10 class="text">
						<p>{{alerta.title}}</p>
						<label class="link" for="">{{alerta.prearribo.condicion}}</label>
					</ion-col>

					<ion-col col-2 class="close" (click)="closeAlert(alerta)">
						<div class="line"></div>
						<ion-icon  name="close" ></ion-icon>
					</ion-col>

				</ion-row>

			</ion-grid>

			<div class="box-alert-2" *ngIf = "alerta.step == 2">
				<p *ngFor="let consejo of alerta.prearribo.consejos">{{consejo}}</p>
			</div>

		</div>

		<!-- Alerta 3 -->
		<div class="box-container-alert-two"  *ngIf="alerta.step == 3 && alerta.visible">

			<ion-grid>

				<ion-row class="header">

					<ion-col col-10 class="box-img">
						<div *ngIf="!alerta.doctor.foto" class="image perfil" [ngClass]="{'img-nok': !alerta.estado.ok}" ></div>
						<div *ngIf="alerta.doctor.foto" class="image perfil" [ngStyle]="{'background-image':'url(' + alerta.doctor.foto + ')'}"></div>
					</ion-col>

					<ion-col col-2 class="close-box" (click)="closeAlert(alerta)">
						<div class="line"></div>
						<ion-icon  name="close" ></ion-icon>
					</ion-col>

				</ion-row>

			</ion-grid>

			<div class="content-info">
				<span class= "medico-asignado">Médico Asignado</span>
				<h4>{{alerta.doctor.nombre}}</h4>
				<span>Especialidad: {{alerta.doctor.especialidad}}</span>
				<span>Matrícula: {{alerta.doctor.matricula}}</span>

				<hr class="soft-line soft-line-black">

				<h5>{{alerta.estado.status}}</h5>
				<div class="time"><span >{{alerta.estado.label}} {{alerta.estado.hora}}</span></div>
			</div>

		</div>

		<!-- Alerta 4 -->
		<div class="box-container-alert-two top-pull"  *ngIf="alerta.step == 4 && alerta.visible">

			<div *ngIf="!alerta.poll.thanks">
				<ion-grid>

					<ion-row class="header">

						<ion-col col-10 class="box-img">
							<div class="poll-question">
								{{alerta.poll.question}}
							</div>
						</ion-col>

						<ion-col col-2 class="close-box" (click)="sayThanks()">
							<div class="line"></div>
							<ion-icon  name="close" ></ion-icon>
						</ion-col>

					</ion-row>

				</ion-grid>

				<hr class="soft-line soft-line-black">

				<div class="content-info container-poll">

					<button *ngFor="let o of poll_options; index as i" (click)="rate(o.value)"
					 [ngClass]="{ 'btn-green-selection': o.value == btnSelection && btnSelection == 3,
					 							'btn-yellow-selection': o.value == btnSelection && btnSelection == 2,
												'btn-red-selection': o.value == btnSelection && btnSelection == 1  }"
					 class="btn btn-white-border  {{ o.class }}">

						{{ o.label }}

					</button>

					<textarea class="textarea-control" placeholder="Dejanos tu comentario..." cols="20" rows="10" [(ngModel)]='alerta.poll.comment'></textarea>

					<button  class="btn btn-green send" [disabled]="!alerta.poll.rate" (click)="sendPoll()">
						Enviar
					</button>

				</div>
			</div>

			<div *ngIf="alerta.poll.thanks" >
			<!-- <div  class="alerta-item-none"> -->
					<div class="message-encuesta">
						<div class="image image-message img-url"></div>
						<div class="text-none" *ngIf="answered">¡Muchas Gracias por<br><span>ayudarnos a mejorar!</span></div>
						<div class="text-none" *ngIf="!answered">¡Muchas Gracias por <br><span>utilizar nuestros servicios!</span> </div>
					</div>
			</div>

		</div>
	</div>

	<div *ngIf="showHomeIcon" class="alerta-item-none">
			<div class="box-container">
				<div class="image image-message img-url"></div>
				<div class="text-none">
					No tenés<br>
					ninguna solicitud<br>
					pendiente de médico<br>
					a domicilio
				</div>
			</div>
	</div>

	<button *ngIf="videoconsulta" ion-button full icon-start class="urg-button-blue" (click)="initVideoconsulta()">
		<ion-icon name="video"></ion-icon>
		Comenzar Videoconsulta
	</button>

</ion-content>

<ion-footer id="homeFooter" *ngIf="showHomeIcon">
	<hr class="soft-line soft-line-black">
	<a (click)="goToSociosPage()">
		<button ion-button full icon-start class="btn btn-blue">
			Solicitar Video Consulta
		</button>
	</a>
</ion-footer>
