page-home {

	ion-toolbar {
		transition: 0.5s;
	}

	ion-content.subHiddenMargin .scroll-content {
		margin-top: 12vh !important;
		transition: 0.5s !important;
	}

	.scroll-content {
		transition: 0.5s !important;
	}

	.alerta-item-none {
		.label {
			padding-left: 10px;
			border-left: 4px solid $osde_lightgreen;
			margin: 20px 0px 40px 0px;
			font-size: 18px;
			color: $darkgray;
		    margin-left: 35px;
		    margin-right: 35px;
		}
		.img {
			position: relative;
			height: 30vh;
			background: url('../assets/img/medico-0.png') center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	.badge {
		position: absolute;
		display: flex;
		align-items: center;
    	justify-content: center;
		bottom: 0; right: 15vw;
		height: 50px; width: 50px;
		background-color: $osde_lightgreen;
		border-radius: 100%;
		font-size: 25px;
		font-weight: bold;
		color: #eee;
		&.small {
			height: 25px; width: 25px;
			bottom: 1vh; right: 0;
			font-size: 10px;
		}
	}

	.alerta-item-1 {
		display: flex;
		background-color: #eee;
		width: 100%;
		position: relative;
		margin-bottom: 20px;
		.label {
			padding: 20px;
			font-size: 18px;
		}
		.img {
			position: relative;
		    width: 28vw;
		    margin-left: 15px;
			background: url('../assets/img/medico-1.png') center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		.imgCall {
			position: relative;
		    width: 28vw;
		    margin-left: 15px;
			margin-top: 10px;
			margin-bottom: 10px;
			background: url('../assets/img/videocall.png') center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		.alert-exit {
			position: absolute;
			top: 50%;
			right: 0px;
			font-size: 28px;
			color: rgba(0, 0, 0, 0.3);
			margin-top: -14px;
			margin-right: 10px;
		}
	}

	.alerta-item-prearribo {
		margin-bottom: 30px;
		font-size: 18px;
		position: relative;
		margin-bottom: 20px;
		.instructions {
			text-transform: uppercase;
			font-weight: bold;
			color: $osde_cyan;
		}
		div:not(.title) {
			padding-left: 15px;
			padding-right: 25px;
			margin-bottom: 5px;
		}
		.alert-exit {
		    position: absolute;
    		top: 0%;
    		right: 0px;
    		font-size: 28px;
			color: rgba(0, 0, 0, 0.3);
    		margin-right: 10px;
		}
	}

	.alerta-item-visita {		
		margin-bottom: 20px;
		position: relative;
		.visita-estado {
			margin-bottom: 5px;
			padding: 5px 5px;
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
			color: $black;
			&.estado-ok {
				background-color: #f0f7df;
				color: #94c91e;
			}
			&.estado-nok {
				background-color: #fae0e1;
				color: #d9212d;
			}
		}


		.visita-imagen {
			height: 25vh;
			background: url('../assets/img/medico.png') center;
			background-size: cover;
			background-repeat: no-repeat;
			&.img-nok {
				background: url('../assets/img/medicator_demora.png') center no-repeat;
				background-size: contain;
				width: 65vw;
				margin: auto;
			}
		}

		.visita-imagen-medico {
			height: 25vh;			
			background-size: cover;
			background-repeat: no-repeat;
			display: block;
    		margin: 0 auto;			
		}

		.visita-info {
			max-height: 25vh;
			display: flex;
			justify-content: center;
			border-bottom: 1px solid $gray;
			padding: 10px 0;
			color: $gray;
			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-size: 1.2em;
				width: 100%;
				text-align: center;
			}
			.visita-info-nombre {
				color: $osde_cyan;
				font-size: 1.5em;
				font-weight: bold;
			}
			.visita-info-especialidad {
				font-weight: bold;
			}
			
		}

		.visita-hora {
			height: 10vh;
			display: flex;
			border-bottom: 1px solid $lightgray;
			.visita-hora-reloj {
				flex-basis: 30%;
				height: 10vh;
				border-right: 1px solid $lightgray;
				background: url('../assets/img/reloj.png') center;
				background-size: contain;
				background-repeat: no-repeat;
				background-clip: content-box;
				padding-bottom: 1px;
			}
			.visita-hora-label {
				flex-basis: 40%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-size: 1.1em;
				.estado-ok {
					color: $gray;
				}
				.estado-nok {
					color: $osde_red;
				}
			}
			.visita-hora-tiempo {
				flex-basis: 30%;
				border-left: 1px solid $lightgray;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 2em;
				font-weight: bold;
				.estado-ok {
					color: #2aa4c4;
				}
				.estado-nok {
					color: $osde_red;
				}
			}
		
		}
		.alert-exit {
			position: absolute;
			top: 2px;
			right: 0px;
			font-size: 28px;
			color: rgba(0, 0, 0, 0.3);
			margin-right: 10px;
			
		}
	

	}

	.alerta-item-poll {
		height: 70vh;
		margin-bottom: 20px;
		position: relative;
		margin-bottom: 10px;

		.poll-question {
			text-align: center;
			padding: 15px 20px 20px 20px;
			font-size: 1.3em;
			font-weight: bold;
			color: $darkgray;
			text-transform: uppercase;
		}

		.poll-exit {
			position: absolute;
			top: 0px; right: 0px;
			font-size: 2.5em;
			color: #222;
		}

		.poll-option {
			display: flex;
			align-items: center;
			height: 12vh;
			border-bottom: 1px solid $gray;
			div {
				flex-basis: 50%;
				font-size: 1.3em;
				font-weight: bold;
				text-transform: uppercase;
			}
			.poll-option-img {
				height: 10vh;
				width: 38%;
    			margin: auto;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
			&.good {
				color: $rate_good;
				.poll-option-img {
					background-image: url('../assets/img/poll-good.png');
					background-position-y: -10px;
				}
			}
			&.meh {
				color: $rate_meh;
				.poll-option-img { background-image: url('../assets/img/poll-meh.png'); }
			}
			&.bad  {
				color: $rate_bad;
				.poll-option-img {
					background-image: url('../assets/img/poll-bad.png');
					background-position-y: 10px;
				}
			}
			&.selected {
				background-color: #D4DDE4;
				border-bottom: 0px;
			}
		}

		.poll-msg {
			padding-left: 10px;
			margin: 20px;
			border-left: 4px solid $osde_lightgreen;
			font-size: 1.5em;
			color: #435972;
		}

		.poll-comment {
			height: 5em;
			width: 100%;
			color: $osde_darkblue;
			font-weight: bold;
			margin: 10px 0;
			padding: 10px;
			border: 1px solid $gray;
		}

	}

	.logo {
		height: 15vh;
		margin-top: 10vh;
		background: url('../assets/img/logo.png') center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	ios-videocam-outline{
		font-size: 1.5em !important;
	}

}


#encuetasItem{
	margin-bottom: 80px !important;
}

#callLabel{
	line-height: 30px !important;
}

#homeFooter{
	padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
