page-sa-servicios {

  .title {
    text-align: center;
    font-size: $text_regular_size;
  }

  .sub-title {
    text-align: center;
    font-size: $text_extra_big_size;
    margin: 5px;
    font-weight: 200;
  }

  .scroll-content > *:last-of-type {
    margin-bottom: 0 !important;
  }

  .btn{
    position: relative;
    bottom: -46px;
  }

  .box-service {
    border: 1px solid #ecebeb;
    border-radius: 5px;
    margin-bottom: 15px;
    -webkit-box-shadow: 8px 9px 10px -5px rgba(218,218,218,1);
    -moz-box-shadow: 8px 9px 10px -5px rgba(218,218,218,1);
    box-shadow: 8px 9px 10px -5px rgba(218,218,218,1);
  }

  .box-option {
    .image-service{
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .image-url{
      // background-image: url(../assets/img/videollamada.jpg);
    }

    label{
      font-size: $text_small_size;
      color: gray;
    }

    p{
      font-size: $text_regular_size;
    }

    .time{
      margin-top: $title_size;
    }
  }

  .box-ambulance{

  }

}
