page-sa-contacto {
  .scroll-content > *:last-of-type  {
    margin-bottom: 10px !important;
  }

  .form-control{
    z-index: 1111111;
    padding:0;
    margin-bottom:15px;
  }

  .container{
    margin:45px 0;
  }
  hr.soft-line{
    margin: 20px auto;
  }
  .title {
    text-align: center;
    font-size: $title_size;
  }

  .sub-title {
    text-align: center;
    font-size: $text_extra_big_size;
    margin: 5px;
    font-weight: 200;
  }

  .padding {
    padding: 0px;
  }

  .label-input-number{
    position: relative;
    top: 18px;
  }

  .btn{
    margin-bottom: -77px;
  }

  ion-item {
    padding-left: 0 !important;
  }

  .container-select {
    margin-bottom: 50px;
    position: relative;

    ion-label {
      color: $place_holder;
      font-size: $text_extra_big_size;
      cursor: text;
      margin: 0;
      padding: 0;
    }

    ion-select {
      max-width: 100%;
      padding-left: 0;
      border-bottom: 2px solid black;
    }
  }
  input.input-text[type="number"]{
      font-size:$text_regular_size;
  }
  .grid{
    margin-bottom:5px;
  }
  .grid,.col{
    padding:0;
  }
  
  .col{
    font-size:$text_extra_big_size;
  }


}
