page-sa-contacto {
  .scroll-content > *:last-of-type  {
    margin-bottom: 10px !important;
  }
  .header-rectangular-container{
    display: block;
  }

  .title {
    text-align: center;
    font-size: 16px;
  }

  .sub-title {
    text-align: center;
    font-size: 14px;
    margin: 5px;
    font-weight: 200;
  }

  .padding {
    padding: 0px;
  }

  .label-input-number{
    position: relative;
    top: 18px;
  }
  //
  // .img {
  //   height: 100px;
  //   width: 100px;
  //   background-color: white;
  //   border-radius: 50%;
  //   border: 1px solid #d0d0d0;
  //   position: absolute;
  //   margin: auto;
  //   padding: 10px;
  //   left: 0;
  //   right: 0;
  //   top: -56px;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   -webkit-box-shadow: -2px 5px 50px -9px rgba(208,208,208,0.71);
  //   -moz-box-shadow: -2px 5px 50px -9px rgba(208,208,208,0.71);
  //   box-shadow: -2px 5px 50px -9px rgba(208,208,208,0.71);
  // }
  //
  // .img-url{
  //   background-image: url("../assets/img/logo-urg.png");
  // }
  //
  // .box-container {
  //   position: relative;
  //   top: -124px;
  //   padding: 10px;
  //   margin: 10px;
  //   border-radius: 5px;
  //   // border: 1px solid #d0d0d0;
  //   background-color: white;
  //   padding-top: 45px;
  //   -webkit-box-shadow: 2px 23px 88px -15px rgba(208,208,208,0.71);
  //   -moz-box-shadow: 2px 23px 88px -15px rgba(208,208,208,0.71);
  //   box-shadow: 2px 23px 88px -15px rgba(208,208,208,0.71);
  // }

}
