// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #001ca8,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

$toolbar-ios-background: #002664;
$toolbar-md-background: #002664;
$toolbar-wp-background: #002664;

//>>>> EasyDoc Custom CSS
@import "easydoc.style";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------


@import "roboto";
@import "noto-sans";

//>>>> EasyDoc Custom font-family
@import "easydoc.fonts";

//select customize
@mixin gradient ($position, $position-two, $color-one, $color-two, $color-msoft-one, $color-msoft-two) {
  background : -moz-linear-gradient($position 0deg, $color-one 0%, $color-two 100%);
  background : -webkit-linear-gradient(0deg, $color-one 0%, $color-two 100%);
  background : -webkit-gradient(linear,$position , $position-two,color-stop(0, $color-one ),color-stop(1, $color-two ));
  background : -o-linear-gradient(0deg, $color-one 0%, $color-two 100%);
  background : -ms-linear-gradient(0deg, $color-one 0%, $color-two 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$color-msoft-one, endColorstr=$color-msoft-two ,GradientType=0)";
  background : linear-gradient(90deg, $color-one 0%, $color-two 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color-msoft-one, endColorstr=$color-msoft-two , GradientType=1);
}

.alert-wrapper {
  border-radius: 10px !important;
  contain: none !important;
  min-width: 300px !important;
  //select alert head
  .alert-head{
    text-align: center !important;
    h2 {
      font-weight: 300;
      font-size: 3vh;
    }
  }

  //select alert body
  .alert-radio-group {
    border: none !important;
    padding: 16px 0 0 10%;

    [aria-checked=true] .alert-radio-icon {
      border-color: #488aff !important;
      background-color: #488aff !important;
    }

    .alert-radio-icon {
      background-color: #E9F2FF !important;
      border-color: #488aff !important;
      // background-color: rgb(72,138,255,0.2)!important;
      border-width: 1px !important;

      .alert-radio-inner {
        display: none;
      }

    }
  }


  //select alert button

  .alert-button-group {
    margin: 0;
    padding:8px 8px 8px 8px !important;
    margin-bottom: -27px;

    .alert-button {
      position: relative;
      max-width: 46%;
      margin:0 auto;
      width: 100%;
      text-align: center;
      color: white;
      border-radius : 48px;
      -moz-border-radius : 48px;
      -webkit-border-radius : 48px;

      &:nth-child(1) {
        @include gradient(-6.75% 50%, -6.75% 50%, rgba( 34, 58, 133, 1 ), rgba( 0, 168, 209, 1 ), #223A85, #00A8D1 );
      }

      &:nth-child(2) {
        @include gradient(-26.12% 50%, 111.52% 50%, rgba(0, 170, 210, 1), rgba(0, 154, 61, 1), #00AAD2, #009A3D );
      }

      span {
        margin: auto;
        display: table;
      }

    }
  }
}

//tranparent header border-botton

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  display: none;
}

.header-rectangular-container, .header-circle-container {
  position: relative;
  top: -1px;
}

/*botones ------------------------------------------------------------------------------------*/

@mixin btn-radius() {
    border-radius : 48px;
    -moz-border-radius : 48px;
    -webkit-border-radius : 48px;
}

.shadow-block{
    border-radius : 10px;
    background : rgba(255, 255, 255, 1);
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    background-color: red;
    padding:20px;
    box-sizing: border-box;
    background : #FFFFFF;
    box-shadow : 0px 10px 15px rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=10, Color='#000000') ;
}


.btn{
    border-radius:30px;
    color:#fff;
    font-size:14px;
    outline:none;
    border:none;
    padding:15px;
    background-color:ccc;
    width:100%;
    display:block;
    margin:0 auto 15px auto;
    transition:opacity 0.3s;
    cursor:pointer;
    box-sizing:border-box;
}

.btn:disabled{
    opacity:0.5;
    transition:opacity 0.3s;
}

.btn:focus,.btn:hover{
    opacity:0.8;
    transition:opacity 0.3s;
}

/*azul*/

.btn.btn-blue{
  @include gradient(-26.12% 50%, 111.52% 50%, rgba(34, 48, 90, 1), rgba( 34, 58, 133, 1), #22305A, #223A85 );
  @include btn-radius();
}

/*rojo*/
.btn.btn-red{
  @include gradient(-26.12% 50%, 111.52% 50%, rgba(133, 34, 34, 1), rgba( 209, 0, 0, 1 ), #852222, #D10000 );
  @include btn-radius();
}


/*verde*/
.btn.btn-green{
  @include gradient(-26.12% 50%, 111.52% 50%, rgba(0, 170, 210, 1), rgba( 0, 154, 61, 1 ), #00AAD2, #009A3D );
  @include btn-radius();
}

/*gris*/
.btn.btn-grey{
  @include gradient(-6.75% 50%, 107.38% 50%, rgba(90, 90, 90, 1), rgba( 133, 133, 133, 1 ), #5A5A5A, #858585 );
  @include btn-radius();
}

/*celeste*/
.btn.btn-light{
  @include gradient(-6.75% 50%, 107.38% 50%, rgba(34, 58, 133, 1), rgba( 0, 168, 209, 1 ), #223A85, #00A8D1 );
  @include btn-radius();
}

.selected{
    background:rgba(0,142,182,0.4);
}

/*blanco*/
.btn-white{
   background-color:white;
   color:#000000;
}

/*blanco con borde*/
.btn-white-border{
    background-color:#f5fafc;
    color:#000000;
    border:1px solid #088DBF;
}
