// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



* {
	font-family:"OpenSans-regular" !important;
}

ion-icon{
	font-family:"Ionicons" !important;
}
a {
  text-decoration: none !important;
}

ion-nav {

	ion-header {
		border-bottom: 1px solid transparent !important;

		ion-navbar {
			.toolbar-background { @include gradient(-6.75% 50%, -6.75% 50%, rgba( 34, 58, 133, 1 ), rgba( 0, 168, 209, 1 ), #223A85, #00A8D1 );; }
		}
	}
}

ion-select{
	font-size:$title_size;
}


.toolbar-md {
	padding:0 2%;
}



.back-button-icon-md{
	padding:0 12px 0 0;
}

.userToolbar {
	.toolbar-title-md {
		font-size: 1.2em;
		padding:0;
	}
}

.userToolbar .toolbar-content {
	display: flex;
}

.user-img {
	font-size: 3.5em;
	margin-left: 10px;
}
.user-name {
	overflow: hidden;
	text-overflow: ellipsis;
}

.userArrow {
	font-size: 2.5em;
    margin-right: 10px;
    margin-top: 8px;
}

ion-menu .menu-inner {
	color: $white !important;
	background-color: $osde_darkblue !important;
	width: 90%;

	.scroll-ion-list {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		height:54vh;
		label {
			padding-left: 10px;
			font-size: 0.93em;
			color : $osde_darkblue;
		}
	}

	ion-toolbar {
		padding: 0px;
		.toolbar-title { color: inherit; }
	}

	button{
		max-width: 80%;
		position: fixed;
		bottom: 0;
		left: 10%;
	}

	.padding-botton{
		position: relative;
		padding: 0 20px;
		text-align: center;
    	margin-bottom: 10px;

		.icon-arrow {
		color: $gray;
	    margin-left: 2%;
		font-size: 28px;
		position: absolute;
		top: 50%;
		margin-top: -14px;
		right: 6px;
		}

		.menu-title{
			font-size: $text_big_size;
			color: $osde_darkblue;
		}
	}

	.item-md {
		padding-left: 32px;
		padding-right: 15px;
	}

}




ion-header.big {

    .logo {
			height: 15vh;
			margin-top: 10vh;
			background: url('../assets/img/logo.png') center;
			background-size: contain;
			background-repeat: no-repeat;
    }

    .label {
			text-align: center;
			font-size: 5vh;
			color: $osde_blue;
			letter-spacing: 5px;
    }
    & + ion-content .scroll-content {
	    margin-top: 30vh !important;
	    padding-bottom: 0 !important;
	}
	&:after {
		content: none !important;
	}
}

.main-menu {
	.scroll-content{
		overflow: hidden !important;
		margin:0 !important;
	}
}

ion-badge {
	position: absolute;
	right: -2px;
	top: -9px;
	border-radius: 50% !important;
	background-color: $osde_red  !important;
}

ion-input {
	border-bottom: 1px solid $osde_cyan;
}


.title {
	padding: 0px !important;
	text-align: center;
}

.scroll-content {
	overflow-y: auto;
	margin-top: 56px !important;
}


.urgIcon {
	color: $white !important;
	font-size: 1.7em !important;
	background-color: inherit;
}


[class*=urg-button] {
	height: 45px !important;
}
.urg-button-blue       { background-color: $osde_blue; }
.urg-button-lightgreen { background-color: $osde_lightgreen; }
.urg-button-lightgreen-call {
	background-color: $osde_lightgreen;
	text-transform: none !important;
	height: 25px !important;
	margin-bottom: 15px !important;
}

.hidden {
	display: none;
}

.shown {
	display: inline-block;
}

.familyCard {
	width: 125px;
	margin: 15px;
	display: inline-block;
	box-shadow: 0px 0px 15px #888888;
	cursor: pointer;
	padding-top: 5px;
}


.ion-ios-videocam-outline{
    content: "\f4cc";
    font-size: 1.6em;
}


//Se Utilizan MENU
ion-list.scroll-ion-list {
	overflow-y: scroll;
	height: 55vh;

	ion-icon {
		color: #2196F3;
	}
}

div.label{
	align-content: "center";
}

/* imagen Menú*/
.imgPosition {
	top: 30px;
	padding-bottom: 10px;
	height: 80px;
	width: 80px;
}



/* alertas */

ion-backdrop{
	opacity:0.7 !important;
}

.alert-md .alert-message{
	text-align:center;
	font-size: $text_big_size !important;
	overflow: visible !important;
}

.error-alert  {
	.alert-wrapper {
		.alert-head::before{
			content:'';
			width:64px;
			height:64px;
			display:block;
			margin:10px auto;
			background-position: center;
			background-repeat: no-repeat;
			background-size:cover;
			background-image:url('../assets/img/warning.png');
		}
		.alert-button-group{
			.alert-button{
				&:nth-child(1){
					@include gradient(-26.12% 50%, 111.52% 50%, rgba(133, 34, 34, 1), rgba( 209, 0, 0, 1 ), #852222, #D10000 );
				}
				&:nth-child(2){
					@include gradient(-6.75% 50%, 107.38% 50%, rgba(90, 90, 90, 1), rgba( 133, 133, 133, 1 ), #5A5A5A, #858585 );
				}
			}
		}
	}

}

//Centramos los botones
.alert-button-group{
	.alert-button{
		margin: 0 auto;
		width: 40%;
		display: inline-block;
	}
}

.ok-alert  {
	.alert-wrapper {
		.alert-head::before{
			content:'';
			width:64px;
			height:64px;
			display:block;
			margin:10px auto;
			background-position: center;
			background-repeat: no-repeat;
			background-size:cover;
			background-image:url('../assets/img/ok.svg');
		}
		.alert-button-group{
			.alert-button{
				&:nth-child(1){
					@include gradient(-26.12% 50%, 111.52% 50%, rgba(34, 48, 90, 1), rgba( 34, 58, 133, 1), #22305A, #223A85 );
				}
			}
		}
	}

}

.video-alert  {
	.alert-wrapper {
		.alert-head::before{
			content:'';
			width:64px;
			height:64px;
			display:block;
			margin:10px auto;
			background-position: center;
			background-repeat: no-repeat;
			background-image:url('../assets/img/videocall.png');
			background-size:contain;
		}
		.alert-button-group{
			.alert-button{
				&:nth-child(1){
					@include gradient(-26.12% 50%, 111.52% 50%, rgba(34, 48, 90, 1), rgba( 34, 58, 133, 1), #22305A, #223A85 );
				}
				&:nth-child(2){
					@include gradient(-26.12% 50%, 111.52% 50%, rgba(0, 170, 210, 1), rgba( 0, 154, 61, 1 ), #00AAD2, #009A3D );
				}
			}
		}
	}

}
