<ion-header>

  <page-navigator></page-navigator>

	<ion-toolbar>
		<ion-title>Mis Datos</ion-title>
	</ion-toolbar>

</ion-header>


<ion-content [ngClass]="{'subHiddenMargin': !showSubHeader}">

  <div class="dataCard datosSocio">
    <div>
      <div class="cardTitle">{{persona.nombre}} {{persona.apellido}}</div>
    </div>
    <div>
      <div>Nro. de socio: {{persona.nroasociado}}</div>
    </div>
    <div class="plan">
      <div>Plan: {{persona.plan}}</div>
      <div>Convenio: {{persona.convenio}}</div>
    </div>
  </div>

  <div class="dataCard datosPersonales">
    <div>
      <div>DNI:</div>
      <div>{{persona.dni}}</div>
    </div>
    <div *ngFor="let data of persona.datosPersonales">
      <div>{{data.label}}:</div>
      <div>{{data.valor}}</div>
    </div>
  </div>

  <div class="dataCard datosMedicos" *ngIf="persona.antecedentes">
    <div>
      <div class="cardTitle">ANTECEDENTES MÉDICOS</div>
    </div>
    <div>
      <div *ngFor="let a of persona.antecedentes">- {{a.antecedente}}</div>
    </div>
  </div>
</ion-content>

<page-footer></page-footer>

