page-datos {
	.header-circle-container{
		margin-bottom:50px;
	}
	.imgPosition{
		top:20px;
	}

	ion-toolbar {
		transition: 0.5s;
	}

	.centrar-datos{
		text-align: center;
	}

	ion-navbar.toolbar{
		position: absolute;
		z-index: 10;
	}

	.toolbar-background-md {
		background: transparent !important;
		width:116%;
		position:absolute;
		left:-8%;
	}

	h3, h5 {
		font-weight: bold;
		font-size:$text_regular_size;
	}

	h3 ~ div , h5 ~ div {
		font-size:$text_small_size
	}

	h5 {
		margin:0;
	}
	.tarjeta-plan,
		.tarjeta-convenio{
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

	.tarjeta-convenio{
		margin-top: 5px;
	}
	.tarjeta-plan{
		margin-top: 10px;
	}

	ion-content.subHiddenMargin .scroll-content {
		transition: 0.5s !important;
	}

	.header-md::after{
		display: none;
	}

	.shadow-block{
		box-shadow : 0px 2px 15px rgba(0, 0, 0, 0.2);
	}

	.personal-data{
		color: darkgray;
	}
	
}
