<ion-header>
  <page-navigator></page-navigator>

</ion-header>


<ion-content [ngClass]="{'subHiddenMargin': !showSubHeader}">

  <div class="header-circle-container headerPositionMenu ">
    <div class="div-inner">
    </div>
  </div>
  <div class="image imgPosition img-url"></div>

  <div class="centrar-datos">
    <div class="color-blue">
      <div class="foto-urg"></div>
      <div>
        <h3 class="title-01">{{persona.nombre}} {{persona.apellido}}</h3>
        <div>Nro. de socio: {{persona.nroasociado}}</div>
        <div class="flex tarjeta-plan">
          <h5>Plan:</h5>
          <div>{{persona.plan}}</div>
        </div>
        <div class="flex tarjeta-convenio">
          <h5>Convenio:</h5>
          <div>{{persona.convenio}}</div>
        </div>
      </div>
    </div>
    <div>
      <div>Nro. de socio: {{persona.nroasociado}}</div>
    </div>
    <div class="plan">
      <div>Plan: {{persona.plan}}</div>
      <div>Convenio: {{persona.convenio}}</div>
    </div>
  </div>

  <div class="dataCard datosPersonales">
    <div>
      <div>DNI:</div>
      <div>{{persona.dni}}</div>
    </div>
    <div *ngFor="let data of persona.datosPersonales">
      <div>{{data.label}}:</div>
      <div>{{data.valor}}</div>
    </div>
  </div>

  <div class="dataCard datosMedicos" *ngIf="persona.antecedentes">
    <div>
      <div class="cardTitle">ANTECEDENTES MÉDICOS</div>
    </div>
    <div>
      <div *ngFor="let a of persona.antecedentes">- {{a.antecedente}}</div>
    </div>
  </div>
</ion-content>

<page-footer></page-footer>

