page-datos {

	ion-toolbar {
		transition: 0.5s;
	}

	.scroll-content{
		bottom: 62px !important;
	}

	.centrar-datos{
		text-align: center;
	}

	ion-navbar.toolbar{
		position: absolute;
		z-index: 10;
	}

	.toolbar-background-md {
		background: transparent !important;
	}

	h3 {
		font-weight: bold;
	}

	h5 {
		margin:0;
	}
	.tarjeta-plan,
		.tarjeta-convenio{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	ion-content.subHiddenMargin .scroll-content {
		transition: 0.5s !important;
	}

	.header-md::after{
		display: none;
	}
	
}
