<ion-header [hidden]="show=='video'">

  <ion-navbar>
    <ion-title>Video Consulta</ion-title>
  </ion-navbar>
  <div class="header header-rectangular-container header-rectangular-container-small"></div>

</ion-header>

<ion-content [class.no-header]="show=='video'" [class.padding]="show!='video'">

  <div *ngIf="show=='unavailable'" class="shadow-block gracias-pop fade">

    <div>
      <h1>La video consulta<span class="salto">ha finalizado.</span></h1>
      <h3>Muchas gracias por utilizar<span class="salto">nuestro servicio.</span></h3>
    </div>
    <div>
      <img class="logo" src="assets/img/logo.png" alt="URG">
    </div>
  </div>

  <div *ngIf="show=='error'" >
    <h3>No se pudo iniciar la sesión. Puede ser debido a problemas de conectividad, intentaremos recargarla.</h3>
  </div>

  <div [hidden]="show!='video'" class="videoconf" >

    <div class="frame">
        <div class="waiting-doctor">
            <img src="assets/img/doctorGif.gif">
            <p class="mensajeTexto">Esperando al médico<span>.</span><span>.</span><span>.</span></p>
        </div>

      <div id="fullvideo"></div>

      <div id="minivideo">
        <div id="local"></div>
      </div>
    </div>

    <div class="controls">
     <div class="cam-btn" (click)="toggleCam()" [class.disabled]="!cam" ></div>
      <div class="mic-btn" (click)="toggleMic()" [class.disabled]="!mic" ></div>
    </div>

  </div>

</ion-content>
