page-videoconsulta {

  ion-content.no-header > div {
    margin-top: 0 !important;
  }
  ion-content.padding {
    padding: 16px;
  }

  .scroll-content{
    /*Evita el scrolleo en la pagina de videoconsulta*/
    overflow-y: hidden;
  }

  .videoconf {
    height: 100%;
    background-color:$white
  }

  .frame {
    position: relative;
    width: 100vw;
    height: 90vh;
  }

  #fullvideo {
    width: 100% !important;
    height: 100% !important;
  }

  #minivideo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20vh;
    max-height: 200px;
    text-align: right;
    z-index: 999999;
  }

  #local{
    z-index:999999;
    position:absolute;
    right:0;
    bottom:0;
  }


  #local, #extra {
    display: inline-block;
    height: 20vh !important;
    width: 25vh !important;
    max-height: 200px;
    max-width: 250px;
    margin-right: 10px;
  }

  .controls {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 10vh;
    padding: 1vh;
    text-align: center;
    background-color: rgba(0,0,0,0.5);

    div {
      display: inline-block;
      position: relative;
      height: 50px;
      width: 50px;
      padding: 5px;
      border: 2px solid $osde_red;
      border-radius: 100%;
      cursor: pointer;
      filter: invert(1);
      transition: all 0.2s;
    }
    div.disabled {
      filter: invert(1) opacity(0.5);
    }
    div:not(:last-child) {
      margin-right: 5vw;
    }
    div:after {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .hangup-btn {
      border-width: 0;
      background-color: $osde_cyan;
    }
    .hangup-btn:after {
      background-image: url("../assets/img/hangup.png");
    }
    .cam-btn:after {
      background-image: url("../assets/img/cam.png");
    }
    .mic-btn:after {
      background-image: url("../assets/img/mic.png");
    }
  }
  .waiting-doctor{
    margin-top:-15px;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999;
    display: block;
    opacity: 1;
    margin-top: -125px;
    margin-left: -100px;
    box-sizing: border-box;
  }
  .waiting-doctor img{
    animation-name: imagen;
    animation-duration: 2s;
    border-radius:50%;
    -webkit-box-shadow: -4px 8px 0px 6px $osde_cyan;
    -moz-box-shadow: -4px 8px 0px 6px $osde_cyan;
    box-shadow: -4px 8px 0px 6px $osde_cyan;
    animation-iteration-count: infinite;
  }

  p.mensajeTexto {
    font-size:2.6em;
    font-size: 2.3em;
    margin-top:15px;
  }
  p.mensajeTexto span{
    animation-name: punto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition:all 0.3s;
  }
  .mensajeTexto span:first-child{
     animation-delay: 0.1s;
  }
  .mensajeTexto span:nth-child(2){
     animation-delay: 0.2s;
  }
  .mensajeTexto span:last-child{
     animation-delay: 0.3s;
  }

  .salto{
    display:block;
}

/*Comienza el mensaje de video consulta finalizada*/
.gracias-pop{
 background-color:#ffffff;
 -webkit-box-shadow: -1px 3px 28px -2px rgba(0,0,0,0.75);
 -moz-box-shadow: -1px 3px 28px -2px rgba(0,0,0,0.75);
 box-shadow: -1px 3px 28px -2px rgba(0,0,0,0.75);
 height:auto;
 padding:50px 0;
 width:80%;
 margin:0 auto;
 max-width:800px;
 text-align:center;
}
.gracias-pop h1{
 font-size:3.2em;
}
.gracias-pop h2{
 font-size:2em;
}
.gracias-pop h3 , .gracias-pop h1{
 color:#003c9d;
 margin:15px 0;
}
.gracias-pop img{
 width:165px;
 margin-top:10px;
}
.salto{
 display:block;
}

@media only screen and (max-width: 700px) {
  .gracias-pop h1{
    font-size:25px;
  }
  .gracias-pop h3{
    font-size:16px;
  }
}

.scroll-content{
  margin-top: 125px !important;
  z-index: 99;
}

.back-button{
  z-index: 99;
}

.title{
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
}

/*Finaliza mensaje de video consulta*/


}


.platform-android8{
  #local{
    z-index:inherit !important;
  }
  #minivideo{
   z-index:inherit !important;
  }

}
