page-delete {
    .deletePeople {
        padding-bottom: 15px;
        padding-top: 15px;
        .input-wrapper {
            flex-direction: column;
            align-items: flex-start;
            border-left: 4px solid $osde_lightgreen;
            padding-left: 15px;
            max-width: 78vw;
        }
    }
    .inline-block {
        display: inline-block;
    }
    .nombre-socio {
        width: 80%;
    }
    .nro-socio {
        font-size: $text_regular_size;
        color: $osde_cyan;
    }
    .tarjeta {
        position: relative;
        top: -70px;
    }
    .checkbox-icon {
        width: 8vw !important;
        height: 8vw !important;
    }
    .checkbox-inner {
        top: 0.5vw !important;
        left: 2.5vw !important;
        height: 5vw !important;
        width: 2vw !important;
    }
    .btn.btn-blue {
        margin-bottom: 20px;
        height: 45px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .scroll-content {
        margin-bottom: 95px !important;
    }

    .socio-data{
        padding: 0 0 0 20px;
    }
}