page-historial {

	.header{
		background: -webkit-gradient(linear, left top, right top, from(#223a85), to(#00a8d1));
		background: linear-gradient(90deg, #223a85 0%, #00a8d1 100%);
		border-bottom:1px solid transparent;
	}

	.scroll-content {
		transition: 0.5s !important;
		z-index:10;
		overflow-y: scroll;
		padding:0 !important;
	}

	.items-container{
		margin-top: -50px;
	}

	.shadow-block{
		position: relative;
		padding: 30px 0 20px 0;
		max-width: 95%;
		margin: 0px auto 15px auto;
	}
	.historial-atencion  div.flex{
		justify-content: center;
		align-items:center;
	}


	.historial-atencion h4{
		font-weight: normal;
		font-size: 13px;
	}

	.historial-atencion div.flex > div:first-child{
		width:28%;
		margin-right:5%;
		border-right:1px solid rgba(0,0,0,0.5);
		height:35px;
		padding-top:10px;
		text-align:center;
		font-size: 14px;
	}

	.historial-atencion div.flex > div:last-child{
		width:65%;
		padding-right:2%;
	}
	.case-number{
		font-size:12px;
		position:absolute;
		right:10px;
		top:10px;
	}

	.historial-atencion div.flex > div:last-child span{
		font-size:12px;
		color:var(--main-cyan-color);
	}

	.itemsEmpty .shadow-block{
		padding: 30px 10px 20px 10px;
	}

	.itemsEmpty p{
		text-align:center;
		line-height: 1.5;
		color:#797979;
	}  
	  

	/*headers */

	/*clase para cambiar general */



	


	

}
