page-historial {

	.header{
		background: -webkit-gradient(linear, left top, right top, from(#223a85), to(#00a8d1));
		background: linear-gradient(90deg, #223a85 0%, #00a8d1 100%);
		border-bottom:1px solid transparent;
	}

	.scroll-content {
		transition: 0.5s !important;
		z-index:10;
		overflow-y: scroll;
		padding:0 !important;
	}

	.items-container{
		margin-top: -50px;
	}

	.shadow-block{
		height: 119px;
		max-width: 95%;
		position: relative;
		color: $black;
		padding: 20px 0 20px 0;
		margin: 0px auto 15px auto;

	}

	.historial-atencion  div.flex{
		justify-content: center;
		align-items:center;

		.box-information {
			border-left: 1px solid grey !important;
	    height: initial;
	    margin-top: 4%;
	    padding-left: 3%;

			h4 {
				font-weight: normal;
				font-size: $text_extra_big_size;
				margin-top: 0px;
				padding-top: 0;
			}
		}
	}

	.historial-atencion div.flex > div:first-child{
		width:28%;
		margin-right:2%;
		height:35px;
		padding-top:10px;
		text-align:center;
		font-size: $text_extra_big_size;
	}

	.historial-atencion div.flex > div:last-child{
		width:65%;
		padding-right:2%;
	}
	.case-number{
		font-size:$text_regular_size;
		text-align: right;
    padding-right: 2%;
	}

	.historial-atencion div.flex > div:last-child div{
		font-size:$text_extra_big_size;
		color:$osde_cyan;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
	}

	.itemsEmpty .shadow-block{
		padding: 30px 10px 20px 10px;
	}

	.itemsEmpty p{
		text-align:center;
		line-height: 1.5;
		color:$gray;
		text-transform: lowercase;
	}

	.itemsEmpty p::first-letter{
		text-transform:uppercase;
	}


	/*headers */

	/*clase para cambiar general */








}
