page-historial {

	.header{
		background: -webkit-gradient(linear, left top, right top, from(#223a85), to(#00a8d1));
		background: linear-gradient(90deg, #223a85 0%, #00a8d1 100%);
		border-bottom:1px solid transparent;
	}

	.scroll-content {
		transition: 0.5s !important;
		z-index:10;
		overflow-y: scroll;
		padding:0 !important;
	}

	.items-container{
		margin-top: -110px;
	}

	.shadow-block{
		position: relative;
		padding: 30px 0 20px 0;
		max-width: 95%;
		margin: 0px auto 15px auto;
	}
	.historial-atencion  div.flex{
		justify-content: center;
		align-items:center;
	}

	.historial-atencion h4{
		font-weight: normal;
		font-size: 12px;
	}

	.historial-atencion div.flex > div:first-child{
		width:28%;
		margin-right:5%;
		border-right:1px solid rgba(0,0,0,0.5);
		height:35px;
		padding-top:10px;
		text-align:center;
		font-size: 12px;
	}

	.historial-atencion div.flex > div:last-child{
		width:67%;
	}
	.case-number{
		font-size:10px;
		position:absolute;
		right:10px;
		top:10px;
	}

	.historial-atencion div.flex > div:last-child span{
		font-size:11px;
		color:var(--main-cyan-color);
	}


	/*headers */

	/*clase para cambiar general */
	ion-header{
		border-bottom: 1px solid transparent;
	}
	.toolbar-background-md,.toolbar-background{
		background-color: transparent !important;
		background:transparent !important;
	}
	

}
