page-historial {

	ion-toolbar {
		transition: 0.5s;
	}

	ion-content.subHiddenMargin .scroll-content {
		margin-top: 12vh !important;
		transition: 0.5s !important;
	}

	.scroll-content {
		transition: 0.5s !important;
	}

	.visita {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		border-left: 4px solid #bed600;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
		background-color: #f1f0f0;
		transition: 0.09s all linear;

		ion-col {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.info {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 5px;
		font-size: 12px;
	}

	.info div:nth-child(1) {
		flex-basis: 60%;
	}

	.info div:nth-child(2) {
		flex-basis: 25%;
		text-align: right;
	}
	

	.item-inner {
		border-bottom: 0px !important;
	}

	.item-block:first-child {
		border-top: 0px !important;
	}

	.item-block:last-child {
		border-bottom: 0px !important;
	}

	
	.visita-height{
		height: 100px;
		font-size: 15px;				
	}

	.visita-height .label{
		white-space: normal;
	}

	.visita-height p{
		color: black;
	}

}
