<ion-header>

	<ion-navbar hideBackButton>
		<ion-buttons left>
			<button left menuToggle="left" class="urgIcon">
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>
			URG
		</ion-title>
		<ion-buttons right>
			<a href="tel:{{telefono}}" (click)="nextPhoneNumber()">
				<button right class="urgIcon">
					<ion-icon name="call"></ion-icon>
				</button>
			</a>
		</ion-buttons>
	</ion-navbar>

	<ion-toolbar [ngClass]="{'subHidden': !showSubHeader}">
		<ion-title>Historial de Atención</ion-title>
	</ion-toolbar>

</ion-header>


<ion-content padding [ngClass]="{'subHiddenMargin': !showSubHeader}">

	<ion-list>

		<ion-item class="visita" *ngFor="let visita of historial" (click)="goToDetail(visita)">

			<ion-row>
				<div class="info">
					<div>Nro. de caso: {{ visita.idAtencion }}</div>
					<div>{{ visita.fecha }}</div>
				</div>
			</ion-row>

			<ion-row *ngIf="visita.prof">
				<ion-col>{{ visita.prof }}</ion-col>
			</ion-row>

			<ion-row>
				<ion-col>Diagnóstico:
					<b>{{ visita.diagnostico }}</b>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col>Medicación: {{ visita.medicacion }}</ion-col>
			</ion-row>

		</ion-item>

		<ion-item *ngIf="historialIsEmpty" class="visita visita-height">
				<div>
					<p>{{historialMessage}}</p>				
				</div>
			</ion-item>

	</ion-list>


</ion-content>

<ion-footer id="homeFooter">
	<a href="tel:{{telefono}}" (click)="nextPhoneNumber()">
		<button ion-button full icon-start class="urg-button-lightgreen">
			<ion-icon name="call"></ion-icon>
			Solicitar médico
		</button>
	</a>
</ion-footer>
